.leftDropdown {
    position: absolute;
    top:20px; 
    left:20px; 
    z-index:1;
}

.leftDropdown > h4 {
    color: white;
}

.leftDropdown > p {
    color: white;
}

.container-fluid {
    padding: 0px;
    height: 100%;
}

.countryDisplaySection {
    float:left;
    width:300px;
    overflow-y: auto;
    height:400px;
    z-index:1;
    position:absolute;
    right:10px;
    top:70px;
}

.country-list {
    background-color: #F2F3F4 ;
    margin-bottom: 10px;
}

.country-list:hover {
    cursor: pointer;
    opacity: 0.6;
}

.countryDisplayHeader {
    color: white;
    z-index: 1;
}

#canvasOne {
    z-index: 0;
    height: auto;
    display: block;
    background-color: black !important;
}

